@model List<centuras.org.Models.Post>
@{
    ViewData["Title"] = "Pathfinder Modules";
}

<div class="container" align="center">
    <h3>@Model.First().Category?.Name</h3>
    <br/>
    <br/>
    <div class="row g-3">
        @foreach (Post post in Model.OrderByDescending(x => x.CreatedDate))
        {
            <div class="col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark h-100">
                        <div class="card-header" align="center">
                        <h5 class="card-title">@post.Title</h5>
                        </div>
                        <div class="card-body" align="center">
                            <p>@post.Description</p>
                            <p class="card-text">
                            @post.CreatedDate.ToString("MMMM")  @post.CreatedDate.Day, @post.CreatedDate.Year
                        </p>
                        </div>
                        <div class="card-footer">
                        <a asp-action="Post" asp-controller="Posts"
                           asp-route-id="@post.Id" style="text-decoration:none; color:inherit" class="btn btn-primary">Read</a>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>