@model List<centuras.org.Models.Post>
@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Author</td>
                <td>@post.CreatedDate</td>
                <td>@post.UpdatedDate</td>
                <td>@post.Category?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>